:root{
    /* cores */

    --primary: #1a0b2a;
    --secondary: #261329;
    --tertiary: #d9d9db;
    --text1: #000;
    --text2: #fff;
}


body {
    background-color: var(--primary);
    color: var(--text2);
    margin: 0;
    padding: 0;
}
::selection{
background-color: var(--tertiary);
color: var(--text1);
}

body.nigth{
    --primary: #050105;
    --secondary: #f8f832;
    --text1: #000;
    --text2: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100vh;
  }
  
  body {
    background-image: radial-gradient(ellipse at center,var(--tertiary) 10%,var(--secondary)  30%,var(--primary) 100%);
    background-color: var(--primary);
    font-family: Roboto, Arial, sans-serif;
  }
  
  section ,form .btn-calcular{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 5em;
    letter-spacing: 1px;
    margin: 20px 0;
    color: var(--text2);
  }
  
  form {
    margin: 20px 0;
    width: 60vw;
    height: 35rem;
    background-color: var(--text2);
    padding: 30px 80px;
    border-radius: 5px;
  }
  
  form .input-block {
    margin-bottom: 20px;
  }
  
  form .input-block label {
    font-size: 2em;
    color: var(--primary);
  }
  
  form .input-block input {
    width: 100%;
    height: 3rem;
    display: block;
    margin-top: 1rem;
    padding: 7px;
    font-size: 1.5em;
    color: var(--primary);
    border-radius: 5px;
    border: 1px solid #ccddef;
    outline-color: var(--primary);
}
  form .calcular-fild {
    display: flex;
    margin-top: 7rem;
    gap: 8rem;
  }
  
  
  form .btn-calcular {
    width: 20vw;
    height: 3rem;
    border: none;
    background-color: var(--primary);
    color: var(--text2);
    border-radius: 25px;
    font-size: 2em;
    margin: auto;
    padding: 7px;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  
  
  /* APARIÇÃO DO FORM */
  
  form {
    animation-name: fade;
    animation-duration: 0.5s;
  }
  
  @keyframes fade {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      trandform: scale(1);
    }
  }
  
  /* APARIÇÃO DOS CAMPOS DA ESQUERDA PARA A DIREITA */
  
  form {
    overflow: hidden; /* para que os campos não apareçam fora do form */
  }
  
  form .input-block:nth-child(1) { /* :nth-child(1) - referencia o primeito filho, sem esta propriedade morerá o block inteiro */
    animation-name: move;
    animation-duration: 0.5s;
  }
  
  form .input-block:nth-child(2) {
    animation-name: move;
    animation-duration: 0.4s;
    animation-delay: 0.1s;
    animation-fill-mode: backwards; /* trabalha no momento em que não está acontecendo a animação - espera do delay*/
  }

  form .input-block:nth-child(3) {
    animation-name: move;
    animation-duration: 0.4s;
    animation-delay: 0.1s;
    animation-fill-mode: backwards; /* trabalha no momento em que não está acontecendo a animação - espera do delay*/
  }
  
  
  form .btn-calcular {
    animation-name: move;
    animation-duration: 0.4s;
    animation-delay: 0.25s;
    animation-fill-mode: backwards;
  }
  
  @keyframes move {
    from {
      opacity: 0;
      transform: translateX(-35%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }  
 
  @keyframes down {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100vh);
    }
  }
  
  /* FORM NO-NO */
  
  form.validate-error {
    animation: nono 200ms linear, fade paused;
    /* animation-play-state: paused; */
    animation-iteration-count: 2;
  }
  
  @keyframes nono {
    0%,
    100% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-15%);
    }
    70% {
      transform: translateX(15%);
    }
  }
  
  /* SQUARES */
  body {
    overflow: hidden; /* para não aparecer a rolagem */
  }
  
  .squares li {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.20);
    display: block;
    position: absolute;
    bottom: -40px;
    animation: up 2s infinite;
    animation-direction: alternate;
  }
  
  @keyframes up {
    from{
      opacity: 0;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateY(-800px) rotate(960deg);
    }
  }