:root{
    /* cores */

    --primary: #1c0021;
    --secondary: #66b6ab;
    --text1: #000;
    --text2: #fff;
}



body {
    background-color: var(--primary);
    color: var(--text2);
    margin: 0;
    padding: 0;
    transition: 1s ease-in-out;
}
::selection{
background-color: var(--secondary);
color: var(--text1);
}

body.white{
    --primary: #4bd0cc;
    --secondary: #666fb6;
    --text1: #000;
    --text2: #fff;
    transition: 1s ease-in-out;

}
body.nigth{
    --primary: #050105;
    --secondary: #f8f832;
    --text1: #000;
    --text2: #fff;
    transition: 1s ease-in-out;
}
body.nigth button ,body.nigth input {
    color: var(--text1);
    transition: 1s ease-in-out;
}
body.nigth .btnswitch{
    background-color: #4bd0cc;
    transition: 1s ease-in-out;

}

  .wrap {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100px;
  }
  .wrap2{
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    height: 100px;
    transform: rotate(180deg); 
}
  
  .wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
  }
  .waveTop {
    background-size: 50% 100px;
    background-image: url(http://bestwebcreator.com/cryptocash/demo/assets/images/wave.png);
    animation: move_wave_reverse 10s linear infinite;
    right: 0;
    left: auto;
  }
  .waveMiddle {
    background-size: 50% 100px;
    background-image: url(http://bestwebcreator.com/cryptocash/demo/assets/images/wave.png);
    animation: move_wave 10s linear infinite;
  }
  @keyframes move_wave {
      0% {
          transform: translateX(0) translateZ(0)
      }
      50% {
          transform: translateX(-25%) translateZ(0)
      }
      100% {
          transform: translateX(-50%) translateZ(0)
      }
  }
  @keyframes move_wave_reverse {
      0% {
          transform: translateX(0) translateZ(0) scaleY(1)
      }
      50% {
          transform: translateX(25%) translateZ(0) scaleY(0.55)
      }
      100% {
          transform: translateX(50%) translateZ(0) scaleY(1)
      }
  }



  
.btnContainer {
    width: 320px;
    height: 160px;
    position: absolute;
    top: 0;
    right: 25px;
  }
  
  .btnswitch {
    width: 4rem;
    height: 1.2rem;
    margin: 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: #160921;
    border-radius: 99px;
    padding: 10px;
    cursor: pointer;
    transition: 1s ease-in-out;
  }
  
  .knob {
    width: 70px;
    height: 70;
    position: relative;
  }
  
  .top {
    background-color: #827d96;
    border-radius: 999px;
    position: absolute;
    left: -6px;
    width: 2rem;
    height: 2rem;
    right: 0px;
    top: -6px;
    bottom: 0;
  }
  
  .light {
    border-radius: 999px;
    position: absolute;
    width: 1rem;
    height: 1rem;
  
    background: radial-gradient(
      50% 50% at 50% 50%,
      #4cc3e2 10.42%,
      rgba(94, 199, 227, 0.791579) 27.08%,
      rgba(113, 204, 229, 0.35) 45.31%,
      rgba(144, 213, 231, 0.11) 65.1%,
      rgba(158, 216, 231, 0.02) 78.12%,
      rgba(177, 221, 233, 0) 95.83%
    );
    left: 9px;
    top: 9px;
    transform: translate(-50%, -50%);
  }
  
  .hidden {
    visibility: hidden;
  }
  
  svg {
    position: absolute;
    bottom: 200px;
    right: 0;
    top: 15%;
  }
  
  .no-highlight {
    /* bad for accessibility - please don't use this in real world applications */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  
section, h1.title, .form, .form ul, .form li, footer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.title{
    font-size: 4em;
    z-index: 100;
}

.conteiner, footer{
    width: 70vw;
    height: 70vh;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

label{
    align-items: center;
    font-size: 2.5em;
    margin-bottom: 1rem;
    color: var(--secondary);
}
.form li{
    padding: 1.5rem;
}
li ,ul ,a{
    list-style: none;
    text-decoration: none;
}


input[type="date"]{
    background-color: var(--secondary);
    padding: 17px 35px;
    font-family: "Roboto Mono",monospace;
    color: var(--text2);
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: var(--text2);
    display: flex;
    position: relative;
    margin-right: 2rem;
    right: -3rem;
    padding: 10px;
    cursor: pointer;
    font-size: 1.3em;
    border-radius: 3px;
}
.btn{
    width: 20vw;
    height: 4rem;
    border-radius: 3px;
    background-color: var(--secondary);
    font-family: "Roboto Mono",monospace;
    font-size: 2em;
    color: var(--text2);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    cursor: pointer;
}

#resultado{
    font-size: 2em;
    color: var(--text2);
    text-align: center;
}


footer{
    width: 17rem;
    height: 2rem;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
footer a{
    color: var(--secondary);
    font-size: 1.2em;    
}
